<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>

    <!--  Description Tab's Content  -->
    <div ng-show="tab.isSet(1)">
        <h4>Description</h4>
        <blockquote>{{product.description}}</blockquote>
    </div>

    <!--  Spec Tab's Content  -->
    <div ng-show="tab.isSet(2)" product-spec>
    </div>

    <!--  Review Tab's Content  -->
    <div ng-show="tab.isSet(3)">
        <product-reviews></product-reviews>
    </div>

</section>